@model Car

@{
    ViewData["Title"] = "Car Delete";
}

<h2>Are you sure you want delete @Model.Name?</h2>

<div>
    <a class="btn btn-danger" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" role="button">Yes</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Car" role="button">Cancel</a>
</div>
